html, 
body {
    margin: 0;
    padding: 0;
    font-family: Source Sans Pro;
}

/***************************** NAVIGATION ************************ */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1.95px 2.6px;

}

li {
    display: inline-block;

}
img{
    vertical-align: middle;
}

#logo {
    padding-left: 1.5em;
}


#text-logo {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}


#logo-img {
    width: 23px;
    height: 23px;
}

/*************************** LINKS **************************/

#links {
    padding-right: 1.5em;
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    color: #090909;
}

.link, .blog  {
    font-family: inherit;
    font-size: 0.75rem;
    text-decoration: none;
    color:#090909;
    margin-left: 1.5em;
}

#btn {
    border: none;
    background: white;
    font-family: Source Sans Pro;
    font-weight: 700;
    font-size: 16px;
    text-decoration: underline;
    text-decoration-thickness: 0%;
    margin: 0.65em 0em 3em 0em;

}


/************************** LAYOUT *************************/
#main-post-container {
    display: block;
    background-image: url("/images/my-study-desk-iphone-copy.png");
    height: 350px;
    background-size: cover;
    color: white;
    
}

#btn-container {
    text-align: center;
}

a {
    text-decoration: none;
}

.post-image {
    width: 100%;
    height: 100%;
    border-radius: 3px;

}


#post-container {
    padding: 2em 1.25em 0.5em 1.25em;       
}

#posts-container {
    display: grid;
    grid-template-columns:1em 1fr 1em;
    grid-template-areas: 
        ".... blog ....";
    margin: 1.65em 0em;


}

#posts {
    grid-area: blog;
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "blog";

}

footer {
    background: #202020;
    padding:2em ;

}

#post-container article .post-image {
    padding: 2em 0em;
}

.about-img {
    place-self: center;
    width: Min(12em, 55vw); /* Slightly larger width */
    border: solid 0.8em transparent; /* Increased border */
    padding: 0.4em; /* Adjusted padding */
    border-radius: 50%;
    transform: scale(0.65); /* Scales everything slightly */
    background: radial-gradient(circle at calc(50% + (50% - 0.4em)*1) calc(50% + (50% - 0.4em)*0), #f03355 calc(0.4em - 1px), transparent 0.4em),
                radial-gradient(circle at calc(50% + (50% - 0.4em)*0) calc(50% + (50% - 0.4em)*1), #514b82 calc(0.4em - 1px), transparent 0.4em),
                radial-gradient(circle at calc(50% + (50% - 0.4em)*-1) calc(50% + (50% - 0.4em)*0), #ffa516 calc(0.4em - 1px), transparent 0.4em),
                radial-gradient(circle at calc(50% + (50% - 0.4em)*0) calc(50% + (50% - 0.4em)*-1), #25b09b calc(0.4em - 1px), transparent 0.4em),
                conic-gradient(#f03355 0% 90deg, #514b82 0% 180deg, #ffa516 0% 270deg, #25b09b 0% 360deg);
    background-origin: border-box;
    --mask: radial-gradient(closest-side, red calc(100% - 0.8em - 0.4em - 1px), transparent calc(100% - 0.8em - 0.4em) calc(100% - 0.8em), red calc(100% - 0.8em + 1px) calc(100% - 1px), transparent);
    -webkit-mask: var(--mask);
    mask: var(--mask);
}

#about-img-container {
    display: grid;
    overflow: hidden;
    filter: drop-shadow(4px 4px 13px rgba(0, 0, 0, 0.25));
    margin-top: -1.25em;
  
}


/************************ TYPOGRAPHY **************************/


h4 {
    text-align: center;
    size: 1.5rem;
    font-weight: 700;
    margin-top: 2.75em;
    margin-bottom: 0.75;
    color: #141414;

}

#title {
    padding: 0.5em 0em;
}

.blog {
    margin: 0;
}

.post {
    margin-top: 1.5em;
}

p {
    margin: 0;
    padding: 0;
}


#date {
    padding: 0em;
    margin: 0em;
    font-weight: 400;
    font-size: 12px;
}

.post-date {
    font-size: 1rem;
}

.post-title {
    color: #141414;
}

#post-container article #date , #post-container article #content{
    color: #151515;
}
#post-container article h2 {
    padding: 0.35em 0em;
    color: #151515;

}

#post-container article #about-title {
    padding: 0em 0em 0.65em 0em;
}


.post-content {
    font-size: 1rem;
    line-height: 125%;
    color: #505050;


}

h1 {
    font-family: Roboto;
    width: 15%;
    font-size: 0.875rem;
    margin: 0;
}

h2 {
    font-family: Source Sans Pro;
    margin: 0em;
    padding: 0.25em 0em;
    font-weight: 700;
    font-size: 32px;
    line-height: 108%;
    letter-spacing: -3%;

}

footer h3 {
    font-weight: 700;
    font-size: 12px;
    letter-spacing: -3%;
    text-align: center;
    margin: 0.25em 0em;
    color: #ECECEC;
}

#post-container article p {
    font-size: 0.9rem;
    color: #151515;
}

#post-container article h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #151515;
    margin: 1.35em 0em;

}

#copyright {
    font-size: 12px;
    text-align: center;
    color: #D7D7D7;

}

#article-page {
    padding: 2.5em 1.25em 0em 1.25em;
}

#main-post {
    padding: 5.5em 1.25em 0em 1.25em;
    text-shadow: 1px 1px 2px rgba(0,0,0, 0.25);
}


#content {
    margin: 0em;
    padding: 0em 0em;
    font-size: 0.9rem;
    
}

#about-content {
    padding-bottom: 3em;
}

/* ************************** MEDIA QUERY **************************/

 @media(min-width: 800px) {
    #btn {
        grid-area: btn;
        grid-column-end: span 3;

    }
    #posts{
        grid-template-columns: repeat(3, 1fr) ;
        grid-template-areas: 
        'blog blog blog';
    }
    
    #posts-container {
        grid-template-columns: 2em repeat(3, 1fr) 2em ;
        grid-template-areas: 
        '. blog blog blog .';

    }

    #logo {
        padding-left: 3em
    }

    #links {
        padding-right: 3em;
    }

    #main-post {
        padding-left: 2.5em;
        max-width: 650px;
    }
}